In [1]:
# pip install pymysql
import pymysql
con = pymysql.connect(host="192.168.0.53", port=3306, 
                      user='root', passwd='root', db='sungjuk_test', 
                      charset='utf8', autocommit=True)

try:
    with con.cursor() as cur:
        cur.execute("select * from student")
        rows = cur.fetchall() # recordset 생성, fetchone, fetchmany, fetchall
        desc = cur.description
        for row in rows: # 한 행씩 불러오기 tuple형태임
            print(f'{row[0]}, {row[1]}, {row[2]}, {row[3]}')
finally:
    con.close()
    
print([i[0] for i in cur.description]) # 테이블의 필드 이름

6, 깅만덕, 100, 99
7, 고려인, 100, 99
8, 종로구, 100, 80
9, 전공인, 81, 81
10, 전공이, 81, 81
11, 전공삼, 91, 100
12, 전공사, 100, 100
18, 에이콘, 90, 80
19, 1, 90, 80
20, typoon, 100, 100
21, 에이콘, 90, 80
22, 에어콘, 90, 80
['bunho', 'name', 'kor', 'mat', 'eng', 'total', 'average', 'grade', 'school_code']

In [2]:
import pymysql
con = pymysql.connect(host="192.168.0.53", port=3306, 
                      user='root', passwd='root', db='sungjuk_test', 
                      charset='utf8', autocommit=True)

person = ("typoon", 100,100,100,'CH0000001')

try:
    with con.cursor() as cur:
        cur.execute("insert into student(name, kor, mat, eng, school_code) values (%s, %s, %s, %s, %s)"
                    ,(person[0],person[1],person[2],person[3], person[4]))
        con.commit()
        print("새로운 학생 등록")
finally:
    con.close()

새로운 학생 등록

In [3]:
import pymysql
con = pymysql.connect(host="192.168.0.53", port=3306, 
                      user='root', passwd='root', db='sungjuk_test', 
                      charset='utf8', autocommit=True)

try:
    with con.cursor() as cur:
        cur.callproc('student_select')
        if(cur.rowcount):
            print(cur.fetchall())
finally:
    cur.close()
    con.close()

((6, '깅만덕', 100, 99, 99, 298, 93.0, 'A', 'CH0000001'), (7, '고려인', 100, 99, 99, 298, 93.0, 'A', 'SE0000001'), (8, '종로구', 100, 80, 70, 250, 78.0, 'C', 'IC0000001'), (9, '전공인', 81, 81, 81, 243, 76.0, 'C', 'se0000001'), (10, '전공이', 81, 81, 81, 243, 76.0, 'C', 'se0000001'), (11, '전공삼', 91, 100, 100, 291, 91.0, 'A', 'se0000001'), (12, '전공사', 100, 100, 100, 300, 94.0, 'A', 'se0000001'), (18, '에이콘', 90, 80, 100, 270, 84.0, 'B', 'CH00000001'), (19, '1', 90, 80, 100, 270, 84.0, 'B', 'CH00000001'), (20, 'typoon', 100, 100, 100, 300, 94.0, 'A', 'CH0000001'))

In [3]:
import pymysql
con = pymysql.connect(host="192.168.0.53", port=3306, 
                      user='root', passwd='root', db='sungjuk_test', 
                      charset='utf8', autocommit=True)

person = ('에이콘',90,80,100,'CH00000001')

try:
    with con.cursor() as cur:
        cur.execute("insert into student(name, kor, mat, eng, school_code) values (%s, %s, %s, %s, %s)"
                    ,(person[0],person[1],person[2],person[3], person[4]))
        con.commit()
        print("새로운 학생 등록")
finally:
    con.close()

새로운 학생 등록

In [4]:
con = pymysql.connect(host="192.168.0.53", port=3306, 
                      user='root', passwd='root', db='sungjuk_test', 
                      charset='utf8', cursorclass=pymysql.cursors.DictCursor, autocommit=True)

data = ('에어콘',90,80,100,'CH00000001',0)
try:
    with con.cursor() as cur:
        cur.callproc('student_insert', data)
        cur.execute('select @_student_insert_5')
        result = cur.fetchone()
        print(result['@_student_insert_5'])
        
finally:
    cur.close()
    con.close()

0

In [5]:
con = pymysql.connect(host="192.168.0.53", port=3306, 
                      user='root', passwd='root', db='sungjuk_test', 
                      charset='utf8', cursorclass=pymysql.cursors.DictCursor, autocommit=True)

data = (8,'에잌ㄴ', 100,90,80,0)
try:
    with con.cursor() as cursor:
        cursor.callproc('student_update', data)
        cursor.execute('select @_student_update_5')
        result = cursor.fetchone()
        print(result['@_student_update_5'])
        if result['@_student_update_5'] == 2:
            print('수정할 이름x')
        elif result['@_student_update_5'] == -1:
            print("에러")
        elif result['@_student_update_5'] == 0:
            print("에러2")
        else:
            print("알 수 x ")
finally:
    cur.close()
    con.close()

0
에러2

In [6]:
try:
    with con.cursor() as cursor:
        cursor.callproc('student_delete', data)
        cursor.execute('select @_student_delete_1')
        reslt = cursor.fetchone()
        print(result['@_student_delete_1'])
        if result['@_student_delete_1'] == 2:
            print('삭제할 이름x')
        elif result['@_student_delete_1'] == 0:
            print('삭제완료')
        else:
            print('알수x')
finally:
    cursor.close()
    con.close()

Error: Already closed

In [18]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
class HTMLTableParser:
    def parse_url(self, url):
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        return [(table('id'), self.parse_html_table(table))
                for table in soup.find_all('table')]

    def parse_html_table(self, table):
        n_columns = 0
        n_rows = 0
        column_names = []
        for row in table.find_all('tr'):# 행
            td_tags = row.find_all('td')# 열
            if len(td_tags) > 0:
                n_rows += 1 # 행 누적
                if n_columns == 0:# 처음인 경우
                    # Set the number of columns for our table
                    n_columns = len(td_tags)
            th_tags = row.find_all('th')# 헤더 열 이름
            if len(th_tags) > 0 and len(column_names) == 0:
                for th in th_tags:
                    column_names.append(th.get_text())

        if len(column_names) > 0 and len(column_names) != n_columns:
            raise Exception("컬럼 타이틀이 컬럼과 숫자가 맞지 않음 ")

        columns = column_names if len(column_names) > 0 else range(0, n_columns)
        # pandas  데이터프레임
        df = pd.DataFrame(columns=columns, index=range(0, n_rows))# 공백
        row_marker = 0 # 행을 확인하는 것
        for row in table.find_all('tr'):
            column_marker = 0 # 열을 확인하는 변수
            columns = row.find_all('td')
            for column in columns:
                df.iloc[row_marker, column_marker] = column.get_text()
                # 태그, 속성, 텍스트
                column_marker += 1
            if len(columns) > 0:
                row_marker += 1
        for col in df:#   형변환
            try:# 문자 -> 숫자변경
                df[col] = df[col].astype(float)
            except ValueError:
                pass
        return df

In [20]:
import pprint
import requests 
url = 'http://127.0.0.1:5000/sungjuk_call'
hp = HTMLTableParser()
table = hp.parse_url(url)

Exception: 컬럼 타이틀이 컬럼과 숫자가 맞지 않음